.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.przod {
    height: 500px;
    width: 400px;
    background: rgb(36,193,30);
background: linear-gradient(90deg, rgba(36,193,30,1) 27%, rgba(0,194,255,1) 100%);
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: center;
    transition: 1s;
    
    
    
    
}
h2 {
    color: white;
}

p {
    color: white;
}

.pro {
    position: absolute;
    top: 20px;
}

.przod:hover { 
    transform:rotateY(180deg);
  }


  .tyl {
      display: none;
  }

 
  